<h2>You've been invited to Vox!</h2>
<p>Hi <%= @user.name %>,</p>
<p><strong>Email:</strong> <%= @user.email %></p>
<p><strong>Temporary Password:</strong> <%= @password %></p>
<p>Please log in and change your password.</p>
