<h2>Welcome to <%= @workspace.name %> on Vox!</h2>
<p>Hi <%= @admin.name %>,</p>
<p>Your workspace admin account has been created.</p>
<ul>
  <li><strong>Email:</strong> <%= @admin.email %></li>
  <li><strong>Temporary Password:</strong> <%= @password %></li>
</ul>
<p>Please log in and change your password immediately.</p>
