<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : 'VOX Slides' %></title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application", media: "all" %>
  <style>
    :root,:host{--color-violet-50:#eef3f9;--color-violet-100:#d9e5f1;--color-violet-200:#b3cbe3;--color-violet-300:#7aaac9;--color-violet-400:#4a80a8;--color-violet-500:#2d5f8a;--color-violet-600:#1e3a5f;--color-violet-700:#162c47;--color-violet-800:#0e1e30;--color-violet-900:#070f18;--color-indigo-50:#eef3f9;--color-indigo-100:#d9e5f1;--color-indigo-200:#b3cbe3;--color-indigo-300:#7aaac9;--color-indigo-400:#4a80a8;--color-indigo-500:#2d5f8a;--color-indigo-600:#1e3a5f;--color-indigo-700:#162c47;--color-indigo-800:#0e1e30;--color-indigo-900:#070f18;}
  </style>
</head>
<body style="margin:0;padding:0;background:#0f172a;min-height:100vh;display:flex;flex-direction:column;align-items:center;justify-content:center;">
  <%= yield %>
</body>
</html>
